.elements {
    box-sizing: border-box;
    margin: 55px auto 0;
    z-index: 1;
    max-width: 1140px;
}

@media screen and (max-width: 1269px) {
    .elements {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1108px) {
    .elements {
        margin: 0px auto 0;
        max-width: 708px;
    }
}

@media screen and (max-width: 758px) {
    .elements {
        max-width: 615px;
    }
}

@media screen and (max-width: 700px) {
    .elements {
        max-width: 495px;
    }
}

@media screen and (max-width: 630px) {
    .elements {
        margin: 73px auto 0;
        max-width: 300px;
    }
}

.elements__container-button {
    /* justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: none;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    border-radius: 6px;
    background-color: #F9F9F9; */

    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: none;
    max-width: 320px;
    padding: 0px 148px 0 148px;
    margin: 0 auto;
    border-radius: 6px;
    background: #F9F9F9;
}

@media screen and (max-width: 520px) {
    .elements__container-button {
        max-width: 240px;
    }
}

.elements__container-text {}

.elements__error {
    display: flex;
    margin: 0 auto 100px;
    max-width: 150px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}