.element {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    position: relative;
    max-height: 230px;
}

@media screen and (max-width: 968px) {
    .element {
        max-width: 339px;
        max-height: 269px;
    }
}

@media screen and (max-width: 767px) {
    .element {
        max-width: 300px;
        min-height: 168px;
    }
}

.elements__list-template {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 38px 20px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 60px 70px;
}

@media screen and (max-width: 868px) {
    .elements__list-template {
        gap: 30px;
        margin: 0 auto 70px;
        grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .elements__list-template {
        gap: 30px;
        margin: 0 auto 70px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 320px) {
    .elements__list-template {
        gap: 30px;
        margin: 0 auto 70px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.element__image {
    max-width: 270px;
    min-height: 151px;
    background-color: blueviolet;
}

@media screen and (max-width: 908px) {
    .element__image {
        max-width: 339px;
        min-height: 190px;
    }
}

@media screen and (max-width: 568px) {
    .element__image {
        min-width: 300px;
        min-height: 168px;
    }
}


.element__like-button {
    background-image: url(../../images/like_1.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    min-width: 24px;
    height: 24px;
}

.element__like-button:hover {
    opacity: 50%;
}

.element__list {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.element__list-self {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 20px;
    max-height: 32px;
    box-sizing: border-box;
    max-width: 270px;
    word-wrap: break-word;
}

@media screen and (max-width: 767px) {
    .element__list-self {
        max-width: 300px;
    }
}

@media screen and (max-width: 868px) {
    .element__list-self {
        max-width: 339px;
    }
}


.element__title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    max-width: 226px;
    max-height: 32px;
    margin: 0;
}

.element__time {
    border-top: 1px solid rgba(232, 232, 232, 1);
    margin: 0;
    padding: 9px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;

}

.elements__container {
    display: flex;
    max-width: 320px;
    height: 36px;
    margin: 0 auto 100px;
    background: #F9F9F9;
}

@media screen and (max-width: 668px) {
    .elements__container {
        max-width: 240px;
    }
}

.elements__container-button {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: none;
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
    background: transparent;
}