.elements__container {
    display: flex;
    max-width: 320px;
    height: 36px;
    margin: 0 auto 100px;
    background: #F9F9F9;
}
@media screen and (max-width: 668px) {
    .elements__container {
        max-width: 240px;
    }
}
.elements__container-button {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: none;
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
    background: transparent;
}