/* .header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  padding: 1233px 55px 0 65px;
  box-sizing: border-box;
  min-height: 74px;
  color: white;
  background-color: chartreuse;
} */



#menu__toggle {
  /* opacity: 0; */
  height: 0%;
  width: 0%;
}

#menu__toggle:checked+.menu__box {
  right: 0;
}

/* .menu__toggle{
  content: url(../../images/burger.svg);
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.menu__toggle:checked{
  content: url(../../images/krest.svg);
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  background-repeat: no-repeat;
} */



.menu__toggle:before {
  content: url(../../images/burger.svg);
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  /* display: block; */
}

.menu__toggle:checked:before {
  content: url(../../images/krest.svg);
  width: 44px;
  height: 44px;
  /* display: block; */
}

/* 
.hamburger-menu {
  background: url(../../images/burger.svg);
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: none;

}

.hamburger-menu::after {
  background: url(../../images/krest.svg);

} */

@media screen and (max-width: 789px) {
  .menu__toggle {
    /* display: none; */
    width: 40px;
    height: 43px;
  }
}

.menu__box {
  display: block;
  position: fixed;
  z-index: -6;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  transition-duration: .25s;

}

@media screen and (max-width: 889px) {
  .menu__box {
    width: 520px;
    height: 100%;
    padding: 155px 0 0;
  }
}

@media screen and (max-width: 687px) {
  .menu__box {
    width: 320px;
    height: 100%;
    padding: 155px 0 0;
  }
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media screen and (max-width: 889px) {
  .menu__item {
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
  }
}

.menu__items:last-of-type {
  padding-bottom: 605px;
}

.header__list-links {
  position: relative;
  z-index: 2;
}

.header_burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header_burger {
    display: block;
  }
}