.register {
    display: flex;
    justify-content: space-between;
}

.register__container {
    margin: 70px auto;
    max-width: 396px;
}

@media screen and (max-width: 800px) {
    .register__container {
        margin: 230px auto 216px;
    }
}

@media screen and (max-width: 520px) {
    .register__container {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        margin: 50px auto 30px;
    }
}

.register__container-logo {
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .register__container-logo {
        margin: 5px auto 0;
        display: block;
    }
}


.form__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 396px;
}

@media screen and (max-width: 520px) {
    .form__title {
        margin: 45px auto 85px;
    }
}

.form__container {
    margin: 0;
}

@media screen and (max-width: 520px) {
    .form__container {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;

    }
}

.form__item {
    max-width: 396px;
    border: none;
    box-sizing: border-box;
    background: transparent;
    outline: none;
}

@media screen and (max-width: 520px) {
    .form__item {
        max-width: 320px;
    }
}

.form__container-item_register {
    padding: 10px 0 14px;
    margin: 0 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid #E8E8E8;
}

.form__container-item_register:focus {
    border-bottom: 1px solid rgba(52, 86, 243, 1);
}

@media screen and (max-width: 520px) {
    .form__container-item_register {
        padding: 0 0 10px;
        margin: 0 0 25px;
        min-width: 260px;
    }
}


.form__button-register {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    min-width: 396px;
    border: none;
    background: none;
    background-color: rgba(52, 86, 243, 1);
    padding: 13px 0 15px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin: 130px auto 0;

}

@media screen and (max-width: 520px) {
    .form__button-register {
        min-width: 260px;
        margin: 215px auto 0;
        font-size: 12px;
        line-height: 15px;
    }
}

.register__container-subtitle {
    min-width: 285px;
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    justify-content: center;
    margin: 15px auto 0;
}

@media screen and (max-width: 520px) {
    .register__container-subtitle {
        font-size: 12px;
        line-height: 15px;
        max-width: 246px;
    }
}


.register__container-link {
    text-decoration: none;
    color: rgba(52, 86, 243, 1);
    margin-left: 6px;
}